body {
    background: #202124;
}

.links {
    position: absolute;
    top: 10px;
    right: 10px;
}

.links a {
    margin: 10px;
    color: #ffffff;
}

.container, .search-container {
    display: flex; 
    align-items: center;
}

.container {
    justify-content: center;
    height: 100vh;
}

.search-container {
    flex-direction: column;
    gap: 10px;
}


.search-bar {
    width: 500px;
    padding: 10px;
}

.search-button {
    padding: 10px 20px;
}